---
import ProjectList from "../components/ProjectList.astro";
import Socials from "../components/Socials.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <h1 class="text-5xl font-bold">Hi, I'm ErikGXDev.</h1>
  <p class="md:w-3/4 mt-2">
    I'm a fullstack developer. I create websites using various Javascript
    Frameworks like Astro, SvelteKit and React. I also use languages like Python
    and Haxe for some projects.
  </p>
  <Socials />
  <h2 class="text-2xl font-medium mt-6">Projects</h2>
  <ProjectList />
</Layout>
